<section class="column is-8 author">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="<%- gravatar( theme.gravatar ) %>" alt="Gravatar - <%- config.author %>">
      </figure>
    </div>
    <div class="media-content">
      <strong><%- config.author %></strong> <small>@<%- theme.twitter %></small>
      <p><%- theme.bio %></p>
    </div>
  </article>
</section>
