<% permalink = config.url + config.root + post.path %>
<main class="container main-content" role="main">
  <article class="post">
    <section class="post-content">
      <%- post.content %>
    </section>
    <hr>
    <footer class="columns post-footer">
      <%- partial('post/author') %>
      <%- partial('post/share') %>
    </footer>
  </article>
  <hr>
  <%- partial('post/navigation') %>
  <%- partial('post/comments') %>
</main>
